* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(193, 193, 240);

}

.container {
  background-color: rgb(193, 193, 240);
  min-height: 100vh;

}

.content {
  max-width: 80vw;
  margin: 3vw auto;


}

.top_section {
  margin-top: 2vw;
  display: flex;
  justify-content: center;
  align-items: baseline;
  border: 0.3vw solid rgb(59, 59, 116);
  border-radius: 2vw;


}

.top_section h4 {
  text-align: end;
  font-size: 2.5vw;

}

.top_section h1 {
  font-size: 2.5vw;
  font-weight: bold;
  text-decoration: underline;

}

.image_container {
  border-radius: 50%;
  overflow: hidden;
  margin-top: 1.5vw;

}

.image_container,
img {
  width: 25vw;
  height: 25vw;
  border: 0.5vw solid rgb(59, 59, 116);


}

.about_section {
  /* margin: 50px; */
  margin-top: 3vw;
  border: 0.3vw solid rgb(59, 59, 116);
  border-radius: 2vw;

}

.about_section h2 {
  font-size: 4vw;
  font-weight: 800;
  margin-bottom: 1.3vw;
  text-decoration: underline;
  margin: 1.3vw;

}

.about_section p {
  margin: 2vw;
  font-size: 1.25vw;
  line-height: 1.7vw;
  letter-spacing: 0.1vw;
  text-align: justify;
}

.biography {
  margin-top: 3vw;
  margin-bottom: 2vw;
  border: 0.25vw solid rgb(59, 59, 116);
  border-radius: 2vw;

}

.biography h3 {
  font-size: 4vw;

  margin-top: 3vw;
  margin-bottom: 2vw;
  text-decoration: underline;
  margin-left: 3vw;

}

.biography ul {
  font-size: 1.25vw;
  margin-left: 6vw;
  letter-spacing: normal;

}

.biography li {
  margin-bottom: 2vw;

}

.footer {
  margin: 3vw 0;



}

footer p {
  margin: 3vw 20vw 3vw 20vw;
  text-align: center;
  font-size: 1.25vw;


}